{{ if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: {{ template "airflow-kube-s3.fullname" . }}
  labels: {{ include "airflow-kube-s3.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ template "airflow-kube-s3.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "airflow-kube-s3.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{ end }}
